/* Estoque.css */
.estoque-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    color: #333;
  }
  
  .estoque-container h2 {
    color: #007bff;
  }
  
  .estoque-section {
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 20px 40px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .estoque-section h3 {
    color: #007bff;
    margin-bottom: 10px;
  }
  .sections-container{
    display: flex;
    gap: 20px;
  }
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .input-group label {
    margin-bottom: 5px;
  }
  
  .input-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button-group {
    display: flex;
    gap: 10px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .item-list {
    margin-top: 20px;
  }
  
  .item-list ul {
    list-style: none;
    padding: 0;
  }
  
  .item-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .item-list li:last-child {
    border-bottom: none;
  }
  
  .quantity-input {
    width: 50px;
    text-align: center;
  }
  .item-actions{
    display: flex;
  }