.relatorio-garcons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 20px;
}

.calendar-container {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.react-datepicker-wrapper {
  display: block;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.react-datepicker__input-container input:focus {
  border-color: #03a9f4;
  outline: none;
  box-shadow: 0 0 5px rgba(3, 169, 244, 0.5);
}

.react-datepicker__header {
  background-color: #03a9f4;
  color: #fff;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: #fff;
}

.react-datepicker__day {
  font-weight: normal;
  color: #333;
}

.react-datepicker__day--selected {
  background-color: #03a9f4;
  color: #fff;
}

.react-datepicker__day--today {
  background-color: #ffeb3b;
  color: #333;
  font-weight: bold;
}

.react-datepicker__day:hover {
  background-color: #e0e0e0;
}


.vendas-diarias,
.vendas-mensais {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.relatorio-garcons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.calendar-container {
  margin-bottom: 20px;
}

.vendas-diarias,
.vendas-mensais {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.flex-garcon{
  display: flex;
}